<footer class="footer">
  <div class="newsletter">
    <div class="container">
      <div class="newsletter__info">
        <h3>Sign Up To Our Newsletter</h3>
        <p class="para">
          We Offer An Informative Monthly Technology Newsletter - Check It Out.
        </p>
      </div>
      <div class="input__group">
        <input class="input" type="email" placeholder="Enter your email" />
        <button class="btn btn__secondary">Subscribe Now</button>
      </div>
    </div>
  </div>
  <div class="footer__data container">
    <div class="footer__about">
      <h4>About Us</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
        laboriosam qui fugit quasi necessitatibus! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Unde laboriosam qui fugit quasi
        necessitatibus!
      </p>
      <div class="footer__socials">
        <i class="fa-solid fa-facebook">0</i>
        <i class="fa-solid fa-twitter">0</i>
        <i class="fa-solid fa-pinterest">0</i>
        <i class="fa-solid fa-linkedin">0</i>
      </div>
    </div>
    <div class="footer__services">
      <h4>Our services</h4>
      <ul class="list">
        <a href="#" class="link"><li class="list__item">IT Solution</li></a>
        <a href="#" class="link"><li class="list__item">Web Development</li></a>
        <a href="#" class="link"
          ><li class="list__item">Networking Services</li></a
        >
        <a href="#" class="link"
          ><li class="list__item">SEO Optimization</li></a
        >
        <a href="#" class="link"
          ><li class="list__item">App Optimization</li></a
        >
      </ul>
    </div>
    <div class="useful__links">
      <h4>Useful Links</h4>
      <ul class="list">
        <a href="#" class="link">
          <li class="list__item">About Us</li>
        </a>
        <a href="#" class="link">
          <li class="list__item">Case Study</li>
        </a>
        <a href="#" class="link">
          <li class="list__item">Contact Us</li>
        </a>
        <a href="#" class="link">
          <li class="list__item">Privacy Policy</li>
        </a>
        <a href="#" class="link">
          <li class="list__item">Terms & Conditions</li>
        </a>
      </ul>
    </div>
    <div class="contact__info">
      <h4>Contact Info</h4>
      <div class="contact__media">
        <i class="fa-solid fa-phone">0</i>
        <div class="media__info">
          <h5>Phone</h5>
          <p>080 707 555 321</p>
        </div>
      </div>
      <div class="contact__media">
        <i class="fa-solid fa-message">0</i>
        <div class="media__info">
          <h5>Email</h5>
          <p>demo@example.com</p>
        </div>
      </div>
      <div class="contact__media">
        <i class="fa-solid fa-location">0</i>
        <div class="media__info">
          <h5>Address</h5>
          <p>526 Melrose Street, Water Mill, 11976 New York</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p><b>&copy;2021 Techvio - All Rights Reserved.</b></p>
      <div class="footer__privacy">
        <a class="link">Terms & Conditions</a>,
        <a class="link">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
