<div class="solutions__section">
  <div class="container">
    <div class="header">
      <h5>WHAT WE PROVIDE</h5>
      <h2>IT Solutions</h2>
    </div>
    <div class="solutions__grid">
      <div class="card__one">
        <div class="card__container">
          <img class="card__one__img" src="./images/icon2.png" alt="" />
          <h4>IT Solution</h4>
          <p class="para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in
            omnis nisi velit quaerat expedita.
          </p>
          <a href="#" class="link read__more__primary">Read More</a>
        </div>
      </div>
      <div class="card__one">
        <div class="card__container">
          <img class="card__one__img" src="./images/icon.png" alt="" />
          <h4>Web Development</h4>
          <p class="para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in
            omnis nisi velit quaerat expedita.
          </p>
          <a href="#" class="link read__more__primary">Read More</a>
        </div>
      </div>
      <div class="card__one">
        <div class="card__container">
          <img class="card__one__img" src="./images/icon3.png" alt="" />
          <h4>Networking Services</h4>
          <p class="para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in
            omnis nisi velit quaerat expedita.
          </p>
          <a href="#" class="link read__more__primary">Read More</a>
        </div>
      </div>
      <div class="card__one">
        <div class="card__container">
          <img class="card__one__img" src="./images/icon4.png" alt="" />
          <h4>SEO Optimisation</h4>
          <p class="para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in
            omnis nisi velit quaerat expedita.
          </p>
          <a href="#" class="link read__more__primary">Read More</a>
        </div>
      </div>
      <div class="card__one">
        <div class="card__container">
          <img class="card__one__img" src="./images/icon5.png" alt="" />
          <h4>App Optimisation</h4>
          <p class="para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in
            omnis nisi velit quaerat expedita.
          </p>
          <a href="#" class="link read__more__primary">Read More</a>
        </div>
      </div>
      <div class="card__one">
        <div class="card__container">
          <img class="card__one__img" src="./images/icon6.png" alt="" />
          <h4>Data Recovery</h4>
          <p class="para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in
            omnis nisi velit quaerat expedita.
          </p>
          <a href="#" class="link read__more__primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
