<div class="testimonials__section">
  <div class="container">
    <div class="header">
      <h5>TESTIMONIAL</h5>
      <h2>What Our Client Say</h2>
    </div>
    <div class="testimonials__grid">
      <div class="testimonial">
        <div class="card__container">
          <img src="./images/5stars.png" alt="" />
          <p class="para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
            quisquam ipsam dignissimos voluptate et magnam ut, dicta animi id
            rem?.
          </p>
          <div class="testimonial__profile">
            <div class="image__bg">
              <img src="./images/testimonial-1.jpg" alt="" />
            </div>
            <h4>Stevie Wills</h4>
            <span class="span">Business Man</span>
          </div>
        </div>
      </div>
      <div class="testimonial">
        <div class="card__container">
          <img src="./images/5stars.png" alt="" />
          <p class="para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
            quisquam ipsam dignissimos voluptate et magnam ut, dicta animi id
            rem?.
          </p>
          <div class="testimonial__profile">
            <div class="image__bg">
              <img src="./images/testimonial-2.jpg" alt="" />
            </div>
            <h4>Stevie Wills</h4>
            <span class="span">Business Man</span>
          </div>
        </div>
      </div>
      <div class="testimonial">
        <div class="card__container">
          <img src="./images/5stars.png" alt="" />
          <p class="para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
            quisquam ipsam dignissimos voluptate et magnam ut, dicta animi id
            rem?.
          </p>
          <div class="testimonial__profile">
            <div class="image__bg">
              <img src="./images/testimonial-3.jpg" alt="" />
            </div>
            <h4>Stevie Wills</h4>
            <span class="span">Business Man</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
