<div class="team__section">
  <div class="container">
    <div class="header">
      <h5>TEAM MEMBER</h5>
      <h2>Expert Team</h2>
    </div>
    <div class="team__grid">
      <div class="team__card">
        <div class="team__card__hover">
          <div class="team__social__icons">
            <i class="fa-solid fa-facebook"></i>
            <i class="fa-solid fa-twitter"></i>
            <i class="fa-solid fa-linkedin"></i>
          </div>
          <img src="./images/team-1.jpg" alt="" />
        </div>
        <div class="team__card__info">
          <h5>Ava Farrington</h5>
          <span class="span span__primary">Founder, CEO</span>
        </div>
      </div>
      <div class="team__card">
        <div class="team__card__hover">
          <div class="team__social__icons">
            <i class="fa-solid fa-facebook"></i>
            <i class="fa-solid fa-twitter"></i>
            <i class="fa-solid fa-linkedin"></i>
          </div>
          <img src="./images/team-2.jpg" alt="" />
        </div>
        <div class="team__card__info">
          <h5>Kevin Haley</h5>
          <span class="span span__primary">Co-founder, cto</span>
        </div>
      </div>
      <div class="team__card">
        <div class="team__card__hover">
          <div class="team__social__icons">
            <i class="fa-solid fa-facebook"></i>
            <i class="fa-solid fa-twitter"></i>
            <i class="fa-solid fa-linkedin"></i>
          </div>
          <img src="./images/team-3.jpg" alt="" />
        </div>
        <div class="team__card__info">
          <h5>Alishia Fulton</h5>
          <span class="span span__primary">Chief creative officer</span>
        </div>
      </div>
      <div class="team__card">
        <div class="team__card__hover">
          <div class="team__social__icons">
            <i class="fa-solid fa-facebook"></i>
            <i class="fa-solid fa-twitter"></i>
            <i class="fa-solid fa-linkedin"></i>
          </div>
          <img src="./images/team-4.jpg" alt="" />
        </div>
        <div class="team__card__info">
          <h5>Lucas Martinez</h5>
          <span class="span span__primary">Project Maneger</span>
        </div>
      </div>
    </div>
  </div>
</div>
