<div class="blog__section">
  <div class="container">
    <div class="header">
      <h5>BLOG & ARTICLE</h5>
      <h2>Recent Blog</h2>
    </div>
    <div class="blog__grid">
      <div class="card__two">
        <img src="./images/blog-1.jpg" alt="" />
        <div class="card__container">
          <div class="span__container">
            <a href=""
              ><span class="span span__secondary"
                ><i class="fa-solid fa-user"></i>Author</span
              ></a
            >
            <span class="span span__secondary"
              ><i class="fa-solid fa-calendar-week"></i>17 June 2021</span
            >
          </div>
          <h4>Planning for a Safe Return to the Workplace IT Solutions</h4>
          <p class="para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
            quisquam ipsam.
          </p>
          <a href="#" class="link read__more__secondary">Read More</a>
        </div>
      </div>
      <div class="card__two">
        <img src="./images/blog-2.jpg" alt="" />
        <div class="card__container">
          <div class="span__container">
            <a href=""
              ><span class="span span__secondary"
                ><i class="fa-solid fa-user"></i>Author</span
              ></a
            >
            <span class="span span__secondary"
              ><i class="fa-solid fa-calendar-week"></i>20 June 2021</span
            >
          </div>
          <h4>Announcing Our New Smiles for Success Charity</h4>
          <p class="para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
            quisquam ipsam.
          </p>
          <a href="#" class="link read__more__secondary">Read More</a>
        </div>
      </div>
      <div class="card__two">
        <img src="./images/blog-3.jpg" alt="" />
        <div class="card__container">
          <div class="span__container">
            <a href=""
              ><span class="span span__secondary"
                ><i class="fa-solid fa-user"></i>Author</span
              ></a
            >
            <span class="span span__secondary"
              ><i class="fa-solid fa-calendar-week"></i>25 June 2021</span
            >
          </div>
          <h4>Machine Learning Applications for Every Industry</h4>
          <p class="para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
            quisquam ipsam.
          </p>
          <a href="#" class="link read__more__secondary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
