<div class="customers__section">
  <div class="container">
    <div class="header">
      <h5>TRUSTED BY OVER $40,000</h5>
      <h2>Our Customers</h2>
    </div>
    <div class="customers__flex">
      <img src="./images/client-1.png" alt="" />
      <img src="./images/client-2.png" alt="" />
      <img src="./images/client-3.png" alt="" />
      <img src="./images/client-4.png" alt="" />
      <img src="./images/client-5.png" alt="" />
      <img src="./images/client-6.png" alt="" />
      <img src="./images/client-7.png" alt="" />
      <img src="./images/client-8.png" alt="" />
      <img src="./images/client-1.png" alt="" />
    </div>
  </div>
</div>
