<div class="company__about1 container">
  <div class="choose choose1">
    <img src="./images/choose-1.jpg" alt="" />
    <div class="choose__info">
      <h5>WHY CHOOSE US?</h5>
      <h3>Safeguard your brand with Cyber-Security & IT Solutions</h3>
      <p class="para">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="what__we__do">
        <div class="cntnr">
          <div class="cntnr__info">
            <p class="para">Remote It Assistance</p>
          </div>
        </div>
        <div class="cntnr">
          <div class="cntnr__info">
            <p class="para">Solving IT Problems</p>
          </div>
        </div>
        <div class="cntnr">
          <div class="cntnr__info">
            <p class="para">Practice IT Management</p>
          </div>
        </div>
        <div class="cntnr">
          <div class="cntnr__info">
            <p class="para">IT Security Services</p>
          </div>
        </div>
        <div class="cntnr">
          <div class="cntnr__info">
            <p class="para">Managed IT Service</p>
          </div>
        </div>
        <div class="cntnr">
          <div class="cntnr__info"><p class="para">Cloud Services</p></div>
        </div>
      </div>
    </div>
  </div>
  <div class="choose choose2">
    <div class="choose__info">
      <h5>WHY TRUST US?</h5>
      <h3>Achieve digital transformation for your retail business services</h3>
      <p class="para">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <div class="what__we__do">
        <div class="cntnr">
          <div class="cntnr__info">
            <p class="para">Protect your Business</p>
          </div>
        </div>
        <div class="cntnr">
          <div class="cntnr__info">
            <p class="para">Network Security</p>
          </div>
        </div>
        <div class="cntnr">
          <div class="cntnr__info">
            <p class="para">Data Security</p>
          </div>
        </div>
        <div class="cntnr">
          <div class="cntnr__info">
            <p class="para">Small Business Owners</p>
          </div>
        </div>
        <div class="cntnr">
          <div class="cntnr__info">
            <p class="para">Running your Business</p>
          </div>
        </div>
        <div class="cntnr">
          <div class="cntnr__info">
            <p class="para">Network Monitoring</p>
          </div>
        </div>
      </div>
    </div>
    <img src="./images/choose-2.jpg" alt="" />
  </div>
</div>
