<div class="container">
  <div class="card__one">
    <div class="card__container">
      <img src="./images/icon2.png" alt="" />
      <h4>IT Solution</h4>
      <p class="para">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in
        omnis nisi velit quaerat expedita.
      </p>
      <a href="#" class="link read__more__primary">Read More</a>
    </div>
  </div>
  <div class="testimonial">
    <div class="card__container">
      <img src="./images/5stars.png" alt="" />
      <p class="para">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
        quisquam ipsam dignissimos voluptate et magnam ut, dicta animi id rem?.
      </p>
      <div class="testimonial__profile">
        <div class="image__bg">
          <img src="./images/testimonial-1.jpg" alt="" />
        </div>
        <h4>Stevie Wills</h4>
        <span class="span">Business Man</span>
      </div>
    </div>
  </div>
  <div class="card__two">
    <img src="./images/blog-1.jpg" alt="" />
    <div class="card__container">
      <div class="span__container">
        <a href=""
          ><span class="span span__secondary"
            ><i class="fa-solid fa-user"></i>Author</span
          ></a
        >
        <span class="span span__secondary"
          ><i class="fa-solid fa-calendar-week"></i>17 June 2021</span
        >
      </div>
      <h4>Planning for a Safe Return to the Workplace IT Solutions</h4>
      <p class="para">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
        quisquam ipsam.
      </p>
      <a href="#" class="link read__more__secondary">Read More</a>
    </div>
  </div>
</div>
