<div class="company__about">
  <div class="container">
    <div class="grid__info">
      <h5>ABOUT OUR COMPANY</h5>
      <h3>Providing your business with a quality IT service is our passion.</h3>
      <p class="para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        possimus, nam corporis dolore laboriosam neque?
      </p>
      <div class="percentage__section item__one">
        <div class="name">
          <p class="para">IT Consulting</p>
          <span class="span">90%</span>
        </div>
        <div class="percentage first__percentage">
          <div class="actual__perc"></div>
        </div>
      </div>
      <div class="percentage__section item__two">
        <div class="name">
          <p class="para">Virtual Workstation</p>
          <span class="span">75%</span>
        </div>
        <div class="percentage second__percentage">
          <div class="actual__perc"></div>
        </div>
      </div>
      <div class="percentage__section item__three">
        <div class="name">
          <p class="para">Managed IT Service</p>
          <span class="span">80%</span>
        </div>
        <div class="percentage third__percentage">
          <div class="actual__perc"></div>
        </div>
      </div>
      <button class="btn btn__secondary">Learn More</button>
    </div>
    <div class="container">
      <div class="experience">
        <span>27</span>
        <h5>YEARS EXPERIENCE</h5>
      </div>
      <img src="./images/about.jpg" alt="" />
    </div>
  </div>
</div>
