<div class="cta">
  <div class="container">
    <h4>WANT TO WORK WITH US</h4>
    <h2>Digitally transform and grow your business!</h2>
    <p class="para">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud consectetur voluptatem accusantium doloremque
      adipiscing elit.
    </p>
    <div class="cta__btns">
      <button class="btn btn__secondary">Call Now</button>
      <button class="btn btn__primary">Contact Us</button>
    </div>
  </div>
</div>
