<nav class="navbar">
  <div class="container">
    <div class="company__name">
      <a href="#" class="li">
        <img src="./images/logo.png" alt="" />
      </a>
    </div>
    <div class="nav__links mobile__hidden">
      <a href="#" class="link"
        ><select name="home" id="home">
          <option value="home">Home</option>
        </select>
      </a>
      <a href="#" class="link">About Us </a>
      <a href="#" class="link"
        ><select name="services" id="services">
          <option value="services">Services</option>
        </select>
      </a>
      <a href="#" class="link"
        ><select name="projects" id="projects">
          <option value="projects">Projects</option>
        </select>
      </a>
      <a href="#" class="link"
        ><select name="Pages" id="Pages">
          <option value="Pages">Pages</option>
        </select>
      </a>
      <a href="#" class="link"
        ><select name="Blog" id="Blog">
          <option value="Blog">Blog</option>
        </select>
      </a>
      <a href="#" class="link">Contact </a>
    </div>
    <div class="nav__btn">
      <button class="btn btn__secondary mobile__hidden">Get It Support</button>
      <button class="btn hidden"><i class="fa-solid fa-bars">0</i></button>
    </div>
  </div>
</nav>
