  <!-- Typography -->
  <h1>heading</h1>
  <h2>heading</h2>
  <h3>heading</h3>
  <h4>heading</h4>
  <a class="link" href="#">link</a>
  <a href="#" class="link read__more__primary">primary</a>
  <a href="#" class="link read__more__secondary">secondary</a>
 
  <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id deserunt est perspiciatis incidunt molestias porro alias magni quisquam maiores eaque.</p>
  <span class="span">business</span>
  <span class="span span__primary">span primary</span>
  <span class="span span__secondary">span secondary</span>
  <input class="input" type="text" placeholder="Enter your email">